.main-content {
    width: 70%;
    margin: 1rem auto;
    display: flex;
}

.side-menu {   
    &__header {
        font-size: $small-font-size;
    }

    &-box {
        padding: 1.5rem;
        border: 1px solid $color-secondary;
        width: 25rem;
        list-style-position: inside;

        &__categories {
            &--ul {
                
            }
        }
        &__colors--ul {
            list-style: none;
            display: flex;
            flex-wrap: wrap;
        }
        &__colors {
            &--li {
            margin-right: 1rem;
            display: inline-block;
            }
            &-preto {
                background-color: #000;
            }
        }
    }
    
}

.section-products {
    position: relative;
    width: 100%;
    padding:1rem 0;
    margin-left: 1rem;
    &__header {
        display: block;
    }
    &__order-box {

    }
    &__order {
        position: relative;
        display: flex;
        border-top: 1px solid $color-secondary;
        border-bottom: 1px solid $color-secondary;
        padding: 1rem 0;

        &--option {
            position: absolute;
            right: 0;
            display: flex;
        }
        &--select{
            margin-left: 1rem;
        }

        &--display {
            display: inline-block;
        }
            
    }
}
